<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="AmsModel" connectionString="metadata=res://*/AmsModel.csdl|res://*/AmsModel.ssdl|res://*/AmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BQK5NF7;initial catalog=AMS;user id=amsadmin;password=password2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>