<log4net>
  <appender name="AMSFile" type="log4net.Appender.RollingFileAppender">
    <file value="C:/AMSLogs/AMS.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="SMSFile" type="log4net.Appender.RollingFileAppender">
    <file value="C:/AMSLogs/SMS.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="WARN" />
    <appender-ref ref="AMSFile" />
  </root>
  <logger additivity="false" name="SJBCS.GUI.SMS">
    <level value="WARN" />
    <appender-ref ref="SMSFile" />
  </logger>
</log4net>